<div class="add-review">
    <form action="/review" method="get">
        <label for="rating"><b>Rating</b></label>
        <input type="text" style="max-width: 50px;" placeholder="1-5" name="rating" required>
        
        <label for="text"><b>Text</b></label>
        <br>
        <textarea name="text" rows="4" cols="100" required>Enter review text</textarea>
        
        <input type="hidden" name="product" value="<%= product %>">
        <input type="hidden" name="action" value="add">
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <input type="hidden" name="auth" value="1">

        <br>
        <button type="submit">Submit</button>
    </form>
</div>