<p class="message"><%= message %></p>

<form action="/forgot" method="get">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <button type="submit">Reset Password</button>
</form>