<nav>
  <% if (auth != 1) { %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  <% } else { %>
    <a href="/">Logout</a>
    <a href="/orders?user_id=<%= user_id %>&auth=<%= auth %>">Your Orders</a>
  <% } %>
</nav>

<h2>
  Available products:
</h2>

<% products.forEach(function(product) { %>
  <%- include("partials/product.ejs", { product: product }) %>
<% }) %>