<nav>
  <% if (auth != 1) { %>
  <a href="/login"><button>Login</button></a>
  <a href="/register"><button>Register</button></a>
  <% } else { %>
    <a href="/"><button>Logout</button></a>
    <a href="/orders?user_id=<%= user_id %>&auth=<%= auth %>"><button>Your Orders</button></a>
  <% } %>
</nav>

<ul class="cards">
<% products.forEach(function(product) { %>
  <li>
  <%- include("partials/product.ejs", { product: product }) %>
  </li>
<% }) %>
</ul>