<div class="product big">
<%- include("partials/product.ejs", { product: product }) %>
</div>

<h2>Reviews</h2>

<% reviews.forEach((review) => { %>
    <%- include("partials/review.ejs", { review: review }) %>
<% }) %>

<% if(user_id && auth == 1) { %>
    <h2>Add Review</h2>
    <%- include("partials/add_review", { product: product.name, user_id: user_id }) %>
<% } else { %>
    <p>Log in to add a review!</p>
<% } %>